.searchbar {
  display: grid;
  width: 100%;
  grid-template-columns: auto 200px 100px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 8px;
  padding: 2px;
}

.searchbar > * {
  height: 30px;
  border: none;
  background-color: none;
}

.searchbar-button {
  cursor: pointer;
  margin-left: 2px;
  border-radius: 0 5px 5px 0;
  background-color: #dddddd;
}

.searchbar-input {
  padding-left: 10px;
}